@mixin links-hover {
  text-decoration: none;
  transition: all 0.5s ease;
  border-radius: 1rem;
  padding: 10px;
  &:hover {
    background-color: rgba($color: white, $alpha: 0.3);
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 22px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
ul {
  list-style: none;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2"),
    url("../assets/fonts/Montserrat-Regular.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2"),
    url("../assets/fonts/Montserrat-Bold.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: black;
}
section {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
.header {
  height: 100%;
  margin: 50px 0 50px 0;
  &__inner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      height: 25px;
      display: flex;
      align-items: center;
      img {
        height: 25px;
      }
    }
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__icons {
    display: flex;
    gap: 8px;
    img {
      width: 40px;
    }
  }
  &__links {
    padding: 20px;
    min-width: 30%;
    border-left: 1px solid white;
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      a {
        @include links-hover();
      }
    }
  }
}
.socials {
  display: flex;
  gap: 10px;
  a {
    @include links-hover();
  }
}
.projects {
  border-bottom: none;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    padding: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    img {
      width: 100%;
      height: 240px;
      object-fit: contain;
    }
    &-inner {
      height: 100%;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 10px;
    }
    &-links {
      display: flex;
      gap: 30px;
      a {
        @include links-hover();
      }
    }
  }
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.education ul {
  list-style: outside;
}
.languages {
  margin-bottom: 50px;
  li {
    display: flex;
    flex-direction: column;
    a {
      width: 250px;
    }
    img {
      width: 250px;
      filter: invert(100%);
    }
  }
}
@media (max-width: 890px) {
  .header {
    &__inner {
      height: 250px;
    }
    &__links {
      display: none;
    }
  }
  .projects {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      img {
        height: 400px;
      }
    }
  }
}
@media (max-width: 670px) {
  html {
    font-size: 18px;
  }
  .header {
    margin-bottom: 80px;
    &__inner {
      height: 270px;
    }
    &__icons {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0px;
    }
  }
}
@media (max-width: 520px) {
  .header {
    &__name {
      align-items: flex-start;
      flex-direction: column;
      gap: 0px;
      margin-bottom: 20px;
    }
    &__socials {
      display: none;
    }
  }
  .socials {
    flex-direction: column;
  }
  .projects__item-inner {
    height: 200px;
  }
}
